<div class="container">
  <h3 class="text-capitalize">{{mode}} {{tourType}} tour</h3>
</div>
<div class="container bg-white">
  <form class="tourForm" (ngSubmit)="submit(form)" #form>
    <div class="row p-4">
      <div class="col-md-4 col-12 d-flex flex-column align-items-start">
        <mat-label>Main Image</mat-label>
        <img [src]="tour.main_media_path" class="img-fluid mt-2 max-height-12">
        <button mat-raised-button type="button" [disabled]="uploadIsLoading" class="my-3 float-end"
          (click)="uploadMainImage.click()" color="primary">
          <app-spinner *ngIf="uploadIsLoading"></app-spinner> Upload
        </button>
        <input hidden type="file" #uploadMainImage (change)="onUpload($event, 'main_media')">
      </div>


      <div class="col-md-8 col-12">
        <mat-form-field class="w-100 mb-3">
          <mat-label>Select Destination</mat-label>
          <mat-select [(ngModel)]="tour.destination_id" name="destinationId">
            <mat-option *ngFor="let destination of destinations" [value]="destination.id">
              {{destination.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100 mb-3">
          <mat-label>Tour Title</mat-label>
          <input matInput type="text" [(ngModel)]="tour.title" name="tourTitle" placeholder="tour title">
        </mat-form-field>
      </div>
    </div>

    <div class="row p-4">
      <div class="col-md-4 col-12 d-flex flex-column align-items-start">
        <mat-label>Program image</mat-label>
        <img [src]="tour.trip_program_media_path" class="img-fluid mt-2 max-height-12">
        <button mat-raised-button type="button" [disabled]="uploadIsLoading" class="my-3 float-end"
          (click)="uploadTripProgramImg.click()" color="primary">
          <app-spinner *ngIf="uploadIsLoading"></app-spinner> Upload
        </button>
        <input hidden type="file" (change)="onUpload($event, 'trip_program')" #uploadTripProgramImg>
      </div>

      <div class="col-md-8 col-12">
        <mat-form-field class="w-100 mb-3">
          <mat-label>Program Title</mat-label>
          <input matInput type="text" [(ngModel)]="tour.trip_program_title" name="ProgramTitle"
            placeholder="Program title">
        </mat-form-field>

        <mat-form-field class="w-100 mb-3">
          <mat-label>Program Description</mat-label>
          <textarea rows="10"  matInput [(ngModel)]="tour.trip_program" name="tripProgram"
            placeholder="what is the tour destination?"></textarea>
        </mat-form-field>
      </div>
    </div>

    <hr>

    <div class="p-4">
      <h3 class="d-flex align-items-center">Tour Details
        <button mat-icon-button type="button" (click)="addNewTourDetail()"><i class="fas fa-plus"></i></button>
      </h3>

      <div class="row" *ngFor="let item of tour.tour_details;let i = index">
        <h4 class="col-12">Tour Details #{{i+1}}</h4>
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Title</mat-label>
          <input matInput type="text" [(ngModel)]="item.title" name="tourDetailsTitle_{{i}}"
            placeholder="tour details title">
        </mat-form-field>
        <mat-form-field class="col-md-6 col-12">
          <mat-label>Time Range</mat-label>
          <input matInput type="text" [(ngModel)]="item.time_range" name="tourDetailsTimeRange_{{i}}"
            placeholder="tour details time range">
        </mat-form-field>
        <mat-form-field class="col-md-6 col-12 mb-3">
          <mat-label>Description</mat-label>
          <textarea rows="10"  matInput [(ngModel)]="item.description" name="tourDetailsDesc_{{i}}"
            placeholder="tour details description"></textarea>
            <mat-hint>Maximum numbers of lines is 8 lines</mat-hint>
        </mat-form-field>
        <div class="col-md-6 col-12">
          <mat-label>Image</mat-label>
          <img [src]="item.media_path" class="rounded mx-2" height="50">
          <button mat-raised-button type="button" [disabled]="uploadIsLoading" class="mx-3"
            (click)="uploadTourDetailsImg.click()" color="primary">
            <app-spinner *ngIf="uploadIsLoading"></app-spinner> Upload
          </button>
          <input hidden type="file" (change)="onUpload($event, 'tour_details', i)" #uploadTourDetailsImg>

          <button *ngIf="tour.tour_details.length>1" mat-icon-button color="warn"
            (click)="tour.tour_details.splice(i,1)"><i class="far fa-trash-alt"></i> Delete details #{{i+1}}</button>
        </div>
      </div>

    </div>

    <hr>

    <div class="row p-4">
      <h3 class="w-100">Expectations</h3>
      <div class="col-md-4 col-12 d-flex flex-column align-items-start">
        <mat-label>Expectations Image</mat-label>
        <img [src]="tour.expectation_media_path" class="img-fluid mt-2 max-height-12">
        <button mat-raised-button type="button" [disabled]="uploadIsLoading" class="my-3 float-end"
          (click)="uploadExpcImg.click()" color="primary">
          <app-spinner *ngIf="uploadIsLoading"></app-spinner> Upload
        </button>
        <input hidden type="file" (change)="onUpload($event, 'expectation')" #uploadExpcImg>
      </div>

      <div class="col-md-8 col-12">
        <mat-form-field class="w-100 mb-3">
          <mat-label>Expectation Title</mat-label>
          <input matInput type="text" [(ngModel)]="tour.expectation_title" name="expectationsTitle"
            placeholder="Expectation title">
        </mat-form-field>

        <mat-form-field class="w-100 mb-3">
          <mat-label>Expectation Description</mat-label>
          <textarea rows="10"  matInput [(ngModel)]="tour.expectation_description" name="expectationsDesc"
            placeholder="Expectation description"></textarea>
        </mat-form-field>

      </div>
    </div>

    <hr>

    <div class="row p-4">

      <div class="col-md-6 col-12">
        <h3 class="d-flex align-items-center">Inclusions
          <button mat-icon-button type="button" (click)="addNewInc()"><i class="fas fa-plus"></i></button>
        </h3>
        <div class="w-100">
          <mat-label>Inclusion Image</mat-label>
          <img [src]="tour.inclusions_media_path" class="rounded mx-2" height="50">
          <button mat-raised-button type="button" [disabled]="uploadIsLoading" class="mx-3"
            (click)="uploadIncImg.click()" color="primary">
            <app-spinner *ngIf="uploadIsLoading"></app-spinner> Upload
          </button>
          <input hidden type="file" (change)="onUpload($event, 'inclusions')" #uploadIncImg>
        </div>

        <ul class="w-100 p-0">
          <li *ngFor="let item of inclusions; let i = index">
            <mat-form-field class="w-100">
              <mat-label>Inclusion #{{i}} Description</mat-label>
              <textarea rows="10"  matInput [(ngModel)]="item.desc" name="incItem_{{i}}"
                [placeholder]="'Inclusion' +  i +'description'"></textarea>
              <button *ngIf="inclusions.length>1" mat-icon-button matSuffix color="warn"
                (click)="inclusions.splice(i,1)"><i class="far fa-trash-alt"></i></button>
            </mat-form-field>
          </li>
        </ul>
      </div>

      <div class="col-md-6 col-12">
        <h3 class="d-flex align-items-center">Exclusions
          <button mat-icon-button type="button" (click)="addNewExc()"><i class="fas fa-plus"></i></button>
        </h3>
        <div class="w-100">
          <mat-label>Exclusion Image</mat-label>
          <img [src]="tour.exclusions_media_path" class="rounded mx-2" height="50">
          <button mat-raised-button type="button" [disabled]="uploadIsLoading" class="mx-3"
            (click)="uploadExcImg.click()" color="primary">
            <app-spinner *ngIf="uploadIsLoading"></app-spinner> Upload
          </button>
          <input hidden type="file" (change)="onUpload($event, 'exclusions')" #uploadExcImg>
        </div>

        <ul class="w-100 p-0">
          <li *ngFor="let item of exclusions; let i = index">
            <mat-form-field class="w-100">
              <mat-label>Exclusion #{{i}} Description</mat-label>
              <textarea rows="10"  matInput [(ngModel)]="item.desc" name="excItem_{{i}}"
                [placeholder]="'Exclusion' +  i +'description'"></textarea>
              <button *ngIf="exclusions.length>1" mat-icon-button matSuffix color="warn"
                (click)="exclusions.splice(i,1)"><i class="far fa-trash-alt"></i></button>
            </mat-form-field>
          </li>
        </ul>
      </div>
    </div>
    <hr>

    <div *ngIf="tourType === 'public'" class="row p-4">
      <h3 class="d-flex align-items-center">Public Tour Dates
        <button mat-icon-button type="button" (click)="addNewDate()"><i class="fas fa-plus"></i></button>
      </h3>

      <ul class="w-100 p-0">
        <li *ngFor="let date of publicToursDates;let i =index">
          <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput readonly (click)="picker.open()" [(ngModel)]="date.tour_date" name="date_{{i}}"
              [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <button *ngIf="publicToursDates.length>1" mat-icon-button matSuffix color="warn"
              (click)="publicToursDates.splice(i,1)"><i class="far fa-trash-alt"></i></button>
          </mat-form-field>
        </li>
      </ul>
      <hr class="col-12">

    </div>

    <div class="p-4">
      <h3>Pricing</h3>

      <div class="row" *ngIf="tourType === 'public'">
        <div class="col-md-4 col-12">
          <p>Egyptians <small>standard ticket</small></p>
          <mat-form-field class="w-100">
            <mat-label>Price <small>per person</small></mat-label>
            <input matInput type="number" placeholder="price per person" [(ngModel)]="pricing.egyptianPrice"
              name="pricing.egyptianPrice">
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Notes</mat-label>
            <textarea rows="10"  matInput placeholder="price per person" [(ngModel)]="pricing.egyptianPriceNote"
              name="pricing.egyptianPriceNote"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-4 col-12">
          <p>Foreigner <small>standard ticket + supplement</small></p>
          <mat-form-field class="w-100">
            <mat-label>Price <small>per person</small></mat-label>
            <input matInput type="number" placeholder="price per person" [(ngModel)]="pricing.foreignerPrice"
              name="pricing.foreignerPrice">
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Notes</mat-label>
            <textarea rows="10"  matInput placeholder="price per person" [(ngModel)]="pricing.foreignerPriceNote"
              name="pricing.foreignerPriceNote"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-4 col-12">
          <p>Foreigner Student <small>standard ticket + supplement</small></p>
          <mat-form-field class="w-100">
            <mat-label>Price <small>per person</small></mat-label>
            <input matInput type="number" placeholder="price per person" [(ngModel)]="pricing.studentForeignerPrice"
              name="pricing.studentForeignerPrice">
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Notes</mat-label>
            <textarea rows="10"  matInput placeholder="price per person" [(ngModel)]="pricing.studentForeignerPriceNote"
              name="pricing.studentForeignerPriceNote"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="tourType === 'private'" class="row">
        <div class="col-md-6 col-12">
          <p>Group of one <small>standard ticket</small></p>
          <mat-form-field class="w-100">
            <mat-label>Price <small>per person</small></mat-label>
            <input matInput type="number" placeholder="price per person" [(ngModel)]="pricing.groupOfOnePrice"
              name="pricing.groupOfOnePrice">
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Notes</mat-label>
            <textarea rows="10"  matInput placeholder="price per person" [(ngModel)]="pricing.egyptianPriceNote"
              name="pricing.egyptianPriceNote"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-6 col-12">
          <p>Group of more <small>standard ticket</small></p>
          <mat-form-field class="w-100">
            <mat-label>Price <small>per person</small></mat-label>
            <input matInput type="number" placeholder="price per person" [(ngModel)]="pricing.groupOfMorePrice"
              name="pricing.groupOfMorePrice">
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Notes</mat-label>
            <textarea rows="10"  matInput placeholder="price per person" [(ngModel)]="pricing.groupOfMoreNote"
              name="pricing.groupOfMoreNote"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="text-right py-4 mx-2">
      <button type="submit" class="px-4 py-1" mat-raised-button color="primary">
        <app-spinner *ngIf="loading"></app-spinner>
        Submit
      </button>
    </div>
  </form>
</div>
