<div class="bg-white mt-5">
  <div class="container">
    <div class="row mt-4 mb-5">
      <div class="col-md-3 col-12 mb-3">
        <h6>Company</h6>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Sales policy</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <h6>Contact</h6>
        <ul>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Help/FAQ</a></li>
          <li><a href="#">Partners</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <h6>More</h6>
        <ul>
          <li><a href="#">Public tours</a></li>
          <li><a href="#">Private tours</a></li>
          <li><a href="#">Low fare tips</a></li>
          <li><a href="#">Badges & Certificates</a></li>
          <li><a href="#">Hidden gems</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-12 mb-3">
        <h6>Follow us</h6>
        <ul class="social-menu">
          <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 text-center">
        <p>© {{year}} Walk Like An Egyptian. All rights reserved.</p>
      </div>
    </div>
  </div>

</div>
