@media(max-width:768px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  header {
    min-height: 74px !important;
    background-color: #000 !important;
  }

  .top-slider {
    top: 0 !important;

    .main-title {
      width: 100% !important;
    }

    .inner {
      bottom: 10% !important;
    }
  }

  .inner .line2 {
    width: 44% !important;
  }

  app-upcoming-group-tours {
    section {
      flex-direction: column;
      align-items: center;

      .navigation-btns,
      .indicators {
        display: none !important;
      }

      .carousel-wrapper {
        margin-top: 15px;
      }
    }
  }

  section.private-tours {
    height: auto !important;

    ul {
      align-items: center;
      justify-content: center;
    }
  }

  .newsletter {
    min-height: 470px !important;

    .inner {
      width: auto !important;
    }
  }


  app-trip-program-carousel {
    .wrapper {
      .slide-1 {
        .inner {
          width: 100% !important;
        }
      }

      .slide-2>*,
      .slide-3>* {
        flex: 0 0 100% !important;
      }

      .pricing-slide {
        width: 790px !important;

        .inner {
          h4 {
            width: 100% !important;
            font-size: 14px;
          }
        }
      }
    }
  }

  .mt-minus {
    margin-top: 10px;
  }
}
