$primaryColor:rgb(255, 201, 115);
$secondaryColor:rgb(247, 13, 40);
$transparentBlack:rgba(33, 33, 33, .3);
$successColor:rgb(87, 203, 124);
$infoColor:rgb(52, 111, 241);
$warningColor:rgb(253, 155, 91);
