<div class="bg d-flex justify-content-center align-items-center">
  <div class="text-center">
    <h1 class="my-4 text-white">
      Plan your trip
    </h1>
    <h6 class="text-white">
      We are here to help you.
    </h6>
  </div>

</div>

<div class="container">
  <section class="text-center mt-minus">
    <h1 class="mb-3">Start planning from here!</h1>
    <h6 class="lh-2 w-75 mx-auto">
      We are not only touring and hidden gems experts but we are also travel lovers and our priority
      as you are is how to enjoy an authentic experience while traveling.
      Traveling as much as it can be exciting, it can be overwhelming if you don’t know the right
      places to go, things to do and the right people to hire. 
      In “Walk Like an Egyptian”, we treasure your moments and keen on letting you get the
      most of your time. We help you create “New memories!”.
    </h6>
  </section>

  <section class="mt-5">
    <div class="my-4">
      <app-plan-items></app-plan-items>
    </div>
  </section>

  <section class="mt-5">
    <app-contact-widget></app-contact-widget>
  </section>


</div>
