<div class="block-spinner">
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<div class="container">
  <div class="page-header">
    <h3 class="page-title"> About Us </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">About Us</li>
      </ol>
    </nav>
  </div>

  <div class="p-3 bg-white">
    <form (ngSubmit)="submit()">
      <mat-form-field class="w-100">
        <mat-label>Title</mat-label>
        <input matInput type="text" [(ngModel)]="pageData.title" name="title" placeholder="Main Title">
      </mat-form-field>
      <mat-form-field class="w-100">
        <mat-label>Description</mat-label>
        <textarea rows="10"  matInput [(ngModel)]="pageData.description" name="description" placeholder="Description"></textarea>
      </mat-form-field>

      <app-ck-editor (pageData)="pageData.content = $event" [htmlContent]="pageData.content"></app-ck-editor>


      <button mat-raised-button color="primary" class="mt-4" type="submit">
        <app-spinner *ngIf="loading"></app-spinner> Save
      </button>
    </form>
  </div>
</div>
