<div class="newsletter">
    <div class="container">
      <div class="inner pt-5">
        <h2>Sign up for our Newsletter</h2>
        <p class="pb-3 text-white">
          Get in touch and keep following all our new events and trips or tours we organize we will send you any offer or
          any
          new tours that we have or planning to have so keep in touch with us.
        </p>
  
        <div class="form-group">
          <input [(ngModel)]="email" name="email" type="text" placeholder="Enter your email address …" class="form-control">
          <button  class="btn-newsletter"><img width="53" src="assets/images/send-ico.svg"></button>
        </div>
      </div>
    </div>
  </div>
  