<div class="top-content">
  <div class="container-fluid">
    <div id="carousel-example" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item col-xl-4 col-md-6 col-12 bg-white" *ngFor="let customer of customers;let i = index"
          [ngClass]="{'active': i === 0}">
          <app-testimonial-card [customer]="customer"></app-testimonial-card>
        </div>

      </div>
      <a [ngClass]="{'d-none' : width > 1199 && customers.length < 4}" class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
        <img src="assets/images/cust-arrow-left.svg" alt="">
      </a>
      <a [ngClass]="{'d-none' : width > 1199 && customers.length < 4}" class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
        <img src="assets/images/cust-arrow-right.svg" alt="">
      </a>
    </div>
  </div>
</div>
