<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/dashboard">
        <span class="menu-title">Dashboard</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
    </li>
    <li class="nav-item nav-category"><span class="nav-link">Modules</span></li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/tours" [queryParams]="{type:'private'}">
        <span class="menu-title">Private tours</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/tours" [queryParams]="{type:'public'}">
        <span class="menu-title">Public tours</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/destinations">
        <span class="menu-title">Destinations</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/customers">
        <span class="menu-title">Customers</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/partners">
        <span class="menu-title">Partners</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/blogs">
        <span class="menu-title">Blogs</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/categories">
        <span class="menu-title">Categories</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
    </li>
    <li class="nav-item nav-category"><span class="nav-link">Configurations</span></li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/system-users">
        <span class="menu-title">System Users</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/shared/featured">
        <span class="menu-title">Featured Areas</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/about-us">
        <span class="menu-title">About Us</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/contact-us">
        <span class="menu-title">Contact Us</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/faqs">
        <span class="menu-title">FAQs</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
